/* ---------BLUE BACKGROUND--------- */
main {
    background-color: rgb(43, 125, 233);
    // background-image: url('https://wallpapercave.com/wp/wp2595098.jpg');
    // background-image: url('https://wallpapercave.com/dwp1x/wp2595093.jpg');
    // background-repeat: no-repeat;
    // background-size:cover;
    // background-position: center;

    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: right;
    align-items: center;
}

// div{
//     border: solid goldenrod 1px;
// }
  
/* ---------POKEDEX--------- */
.pokedex{
    &-ol{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-background {
        margin-right: 150px;
        width: 900px;
        // max-width: 900px;
        height: 100%;

        display:flex;
        align-items:flex-start;

        background-image: url("./sources/pokedex.png");
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;

        @include mobile{
            background-image: none;
            width: 100%;
        }
    }

    // PRIMER BLOQUE
    &-container{
        display:inline-block;
        width:48%;   
        // Cuidado con añadir altura aqui: saldra blanco por debajo de azul

        
        @include tablet{
            padding-left:10%;
        }

        &-screen{
            margin-top: 260px;
            margin-left:78px;
            width:292px;
            height: 300px;
            // border: solid purple;
            
        }
    }

    // SEGUNDO BLOQUE
    &-container-2{
        display:flex;
        flex-direction: column;
        width:48%;
        // Cuidado con añadir altura aqui: saldra blanco por debajo de azul
        font-family: 'Kanit', sans-serif;
        color:rgb(255, 219, 119);

        // SCREEN BIG
        &__screen{
            margin-top: 245px;
            margin-left:120px;
            width:260px;
            height:100px;
        }

        &__name{
            margin-top:15px;
            &--title{
                margin-right:10px;
            }
        }

        &__type{
            margin-top:15px;
            &--title{
                margin-right:17px;
            }
        }

        // BOT ITEMS
        &--bot{
            height:297px;
            display:flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        // BOT ITEMS - TEXT
        &__screen-2{
            margin-left:118px;
            margin-bottom: 25px;
            width: 154px;
        }

        &__id{
            margin-bottom:34px;
            &--title{
                margin-right:8px;
            }
        }

        &__nGames{
            &--title{
                margin-right:6px;
            }
        }
        // BOT ITEMS - MOVE
        &__move{
            margin-right: 5px;
            height:109px;
            width: 112px;
            display:flex;
            flex-direction: column;
            align-items: center;

            &--top{
                height: 37px;
                width: 39px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }

            &--mid{
                width: 100%;
                height: 34px;
                display:flex;
                flex-wrap: wrap;
                justify-content:space-between;
            }

            &--left{
                height:100%;
                width: 39px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }

            &--right{
                height:100%;
                width: 39px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }

            &--bot{
                height: 37px;
                width: 39px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }
        }

    }
}
  
.hola{
    background-color: red;
    width:25px;
    height: 30px;
    
    // top:1000px
}