/* ---------BLUE BACKGROUND--------- */
main {
    background-color: rgb(43, 125, 233);
    // background-image: url('https://wallpapercave.com/wp/wp2595098.jpg');
    // background-image: url('https://wallpapercave.com/dwp1x/wp2595093.jpg');
    // background-repeat: no-repeat;
    // background-size:cover;
    // background-position: center;

    @include mobile{
        background-color: #920318;
        height: 160vh;
    }
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

// div{
//     border: solid goldenrod 1px;
// }
  
/* ---------POKEDEX--------- */
.pokedex{
    &-ol{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-background {
        width: 900px;
        // max-width: 900px;
        height: 100%;

        display:flex;
        align-items:flex-start;

        background-image: url("./sources/pokedex.png");
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;

        @include mobile{
            background-image: none;
            flex-direction:column;
            width:100%;
        }
    }

    // PRIMER BLOQUE
    &-container{
        display:inline-block;
        width:48%;   

        @include mobile{
            width:100%;
            display: flex;
            justify-content: center;
            background-image: url("./sources/pokedex-top.png");
            background-repeat: no-repeat;
            background-size:auto;
            background-position: center;
        
        }
        // Cuidado con añadir altura aqui: saldra blanco por debajo de azul

        
        // @include tablet{
        //     padding-left:10%;
        // }

        &-screen{
            margin-top: 260px;
            margin-left:78px;
            margin-right: 140px;
            width:292px;
            height: 300px;
            // border: solid purple;
            @include mobile{
                margin-left:0px;
                margin-right: 0px;
                height: 408px;

            }
            
        }
    }

    // SEGUNDO BLOQUE
    &-container-2{
        display:flex;
        flex-direction: column;
        width:48%;
        // Cuidado con añadir altura aqui: saldra blanco por debajo de azul
        font-family: 'Kanit', sans-serif;
        color:rgb(255, 219, 119);

        @include mobile{
            width:100%;
            display: flex;
            justify-content: center;
            background-image: url("./sources/pokedex-bot.png");
            background-repeat: no-repeat;
            background-size:auto;
            background-position: center;
        }

        // SCREEN BIG
        &__screen{
            margin-top: 245px;
            margin-left:120px;
            width:260px;
            height:100px;

            @include mobile{
                margin-left:0px;
                margin-top:0px;
                // height:235px
            }
        }

        &--top{
            @include mobile{
                display: flex;
                justify-content: center;
                height:239px;
            }
        }

        &__name{
            margin-top:60px;
            &--title{
                margin-right:10px;
            }
        }

        &__type{
            margin-top:15px;
            &--title{
                margin-right:17px;
            }
        }

        // BOT ITEMS
        &--bot{
            height:297px;
            display:flex;
            align-items: flex-end;
            justify-content: space-between;

            @include mobile{
                justify-content: center;
            }
        }

        // BOT ITEMS - TEXT
        &__screen-2{
            margin-left:118px;
            margin-bottom: 25px;
            width: 154px;

            @include mobile{
                margin-bottom:75px;
                margin-right:11px;
                margin-left:0px;
                margin-right: 38px;
                padding-left: 65px;
                
            }
        }

        &__id{
            margin-bottom:34px;
            &--title{
                margin-right:8px;
            }
        }

        &__height{
            &--title{
                margin-right:2px;
            }
        }
        // BOT ITEMS - MOVE
        &__move{

            margin-right: 5px;
            height:109px;
            width: 112px;
            display:flex;
            flex-direction: column;
            align-items: center;

            @include mobile{
                margin-left:45px;
                margin-bottom: 52px;
            }
            
            &--top{
                height: 37px;
                width: 39px;
                border-radius: 5px;
                

                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }

            &--mid{
                width: 100%;
                height: 34px;
                display:flex;
                flex-wrap: wrap;
                justify-content:space-between;
            }

            &--left{
                height:100%;
                width: 39px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }

            &--right{
                height:100%;
                width: 39px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }

            &--bot{
                height: 37px;
                width: 39px;
                border-radius: 5px;
                &:hover {
                    background-color: rgb(255, 228, 196,0.5);
                    transform:scale(1.2);
                }
            }
        }

        &__caract{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            font-size:x-small;

            height: 60px;

            &--item{
                display:flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap:5px;
            }

            &--cont{
                display:flex;
                flex-direction: column;
                justify-content: flex-end;
                gap:3px;
                width:19px;
                height: 26px;
                // border:solid rgb(8, 31, 86) 1px;
            }

            &--text{
                padding-top:5px;
            }

            &--box{
                background-color: white;
                height: 5px;
                width:10px;
            }
        }

    }
}

.white-box{
    background-color: white;
    height: 2px;
    width:100%;
    // height: 12px; max
    
}

  
.hola{
    background-color: red;
    width:25px;
    height: 30px;
    
    // top:1000px
}